.section {
  border-top: 6px solid #ff9024;
  margin: 18px 0 0 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.section h2 {
  display: block;
  margin: 18px 20px 0 20px;
}

.section p {
  margin: 10px 20px 0 20px;
}
.description {
  font-size: 11px;
  color: #999;
}

fieldset {
  position: relative;
  display: flex;
  flex-direction: column;
  border: 0;
  margin: 0;
  padding-bottom: 20px !important;
  padding-left: 20px;
  padding-right: 20px;
}

.info {
  margin: 0 20px;
  .item {
    display: flex;
    .label {
      font-weight: 500;
      min-width: 200px;
    }

    .value {

    }
  }
}