#topImgContainer {
  background-image: url(https://cdn.holidaycars.com/image/road_background.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 20px 0 30px;
  background-color: #679;
  height: 800px;
}

.book-container {
  padding-bottom: 20px;
  background: rgba(0, 0, 0, .6);
  border: 0;
  margin-bottom: 30px;
  padding: 20px;
  width: 100%;
}

h2 {
  font-family: inherit;
  font-size: 1.3em;
  font-weight: bold;
  line-height: 1.1;
  margin-bottom: 10px;
  margin-top: 0;
  color: white;
}

.search-inputs {
  color: white;

  input {
    width: 100%;
  }
}

.button-search {
  margin-top: 100px;
}

.book-container {
  ::ng-deep .mat-focused .mat-form-field-label {
    color: white !important;
  }
  
  ::ng-deep.mat-form-field-underline {
    background-color: white !important;
  }
  
  ::ng-deep.mat-form-field-label {
    color: white !important;
    font-size: 11px !important;
    margin-top: 10px;
  }
  
  ::ng-deep.mat-form-field-ripple {
    background-color: white !important;
  }
  
  ::ng-deep.mat-button-wrapper .mat-datepicker-toggle-default-icon {
    color: white !important;
  }

  ::ng-deep.mat-input-element {
    color: white !important;
  }
}

